#post{
    background-color: crimson;
    display: inline-block;
    height: 60vh;
    width: 15vw;
    margin: 10px 70px 10px;
    border: solid black;
}
#post2{
    background-color: rgb(22, 160, 4);
    display: inline-block;
    height: 60vh;
    width: 15vw;
    margin: 10px 50px 10px;
    border: solid black;
}
#post3{
    background-color: rgb(138, 2, 172);
    display: inline-block;
    height: 60vh;
    width: 15vw;
    margin: 10px 50px 10px;
    border: solid black;
}

#post4{
    background-color: rgb(5, 26, 218);
    display: inline-block;
    height: 60vh;
    width: 15vw;
    margin: 10px 70px 10px;
    border: solid black;
    
}


body{
    background-color: rgb(255, 208, 0);
}

header{
    margin-left: 1%;
    font-size: 2rem;
    border: solid 5pt;
    background-color: rgb(247, 177, 0);
}
nav{
    margin-left: 1%;
    text-decoration: none;
    background-color: floralwhite;
    border: solid 2pt;
}
h3{
    font-size: 2em;
}

